.container {
    margin-top: 140px;
    padding: 0 5%;
    overflow-x:hidden;
}

.intro {
    opacity:0;
    position: relative;
}
.intro__title {
    font-family: 'Calligraffitti';
    font-size: 2.2rem;
    // font-style: italic;
    line-height: 1.4;
    margin:0;
}

.intro__address {
    margin:0;
    ul {
        font-family: 'PT+Mono';
        display: inline-block;
        padding:1.5rem 3rem 0 0;
        list-style: none;
        font-size: 0.71rem;
    }
}

@media (min-width: 768px) {
    .intro__title {
        font-size: 2.7rem;
    }
    .container {
        margin-top: 180px;
    }
}
@media (min-width: 999px) {
    .intro__title {
        margin-left:200px;
        width: 800px;
    }
    .intro__address {
        margin-left:200px;
    }
    .container {
        padding: 0 3%;
    }
}



// #parallaxContainer {
//     position: absolute;
//     width:100%;
//     top:0;
// }

.layer {
    height:100vh;
    position:relative;

}

.myDesignLab {
    background: -moz-linear-gradient(top, #dddddd 0%, #f3a763 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dddddd 0%,#f3a763 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dddddd 0%,#f3a763 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f3a763',GradientType=0 ); /* IE6-9 */
}

// .idKAIST{
//     background: -moz-linear-gradient(top, #f3a763 0%, #dddddd 80%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(top, #f3a763 0%,#dddddd 80%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to bottom, #f3a763 0%,#dddddd 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a763', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
// }

.layer__title {
    position: absolute;
    left: 5%;
    top: 25%;
    z-index:10;
    font-size: 1.2rem;
}

.layer__parallax {
    margin:auto;
    width: 100%;
    position: relative;
}

.parallax {
    position: absolute;
    img {
        width: 100%;
    }
}

.parallax01 {
    width: 40%;
    z-index: 5;
}

.parallax02 {
    padding-left: 30%;
    width: 30%;
    z-index: 3;
}

.parallax03 {
    padding-left: 50%;
    width: 50%;
    z-index: 4;
}


@media (min-width: 768px) {
    .layer__parallax {
        width: 80%;
    }

}

@media (min-width: 1024px) {
    .layer__parallax {
        width: 1000px;
    }

}