<section class="intro container">
  <p class="intro__title">
    Jundong is a interaction designer with a unique mix of competences. 
    He is currently a HCI researcher in myDesignLab.
    He loves to help people by creating outstanding experiences and identities.  
  </p>
  <div class="intro__address">
    <ul>
      <li><strong>Jundong Park</strong></li>
      <li>Daejeon, South Korea</li>
      <li></li>
      <li>+ 82 10 2905 4809</li>
      <li>messinger@kaist.ac.kr</li>
      <li>http://jundong.info/</li>
    </ul>
    <ul>
      <li><strong>myDesignLab</strong></li>
      <li>Daejeon, South Korea</li>
      <li></li>
      <li>+ 82 42 350 4565</li>
      <li>mydesign.kaist@gmail.com</li>
      <li>http://mid.kaist.ac.kr/</li>
    </ul>

  </div>
</section>

<div id="parallaxContainer">
  <div class="layer">
    <div class="layer__title">
      <p>ID KAIST Master Degree</p>
      <p><sub>2016-2017</sub></p>
    </div>

    <div class="imgbox parallax01">
      <img src="./../../assets/test.jpg">
    </div>
    
  </div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
