<section class="intro container">

  <div class="intro__door">
    <p class="greet__text_01">
      Jundong 
    </p>
    <p class="greet__text_02">
      Identity
    </p>

    <img src="./../../assets/About/jundong.png">
    <img src="./../../assets/About/jundong_smile.jpg">

  </div>

  <div class="intro__music">
    <p>
      I looked at the strange man in front of me. His eyes were riveted on mine. They were 
      little, round eyes with very dark pupils and red veinlets on the whites. I felt them 
      penetrating, searching me insatiably.
      <br>
      ― Nikos Kazantzakis, Zorba the Greek
    </p>
  </div>


  <p class="intro__title">
    Jundong is a interaction designer with a unique mix of competences. 
    He is currently a HCI researcher in myDesignLab.
    He loves to help people by creating outstanding experiences and identities.  
  </p>
  <div class="intro__address">
    <ul>
      <li><strong>Jundong Park</strong></li>
      <li>Daejeon, South Korea</li>
      <li></li>
      <li>+ 82 10 2905 4809</li>
      <li>messinger@kaist.ac.kr</li>
      <li>http://jundong.info/</li>
    </ul>
    <ul>
      <li><strong>myDesignLab</strong></li>
      <li>Daejeon, South Korea</li>
      <li></li>
      <li>+ 82 42 350 4565</li>
      <li>mydesign.kaist@gmail.com</li>
      <li>http://mid.kaist.ac.kr/</li>
    </ul>

  </div>
</section>

<div id="parallaxContainer">
  <div class="layer myDesignLab">

    <div class="layer__title">
      <p>ID KAIST Master Degree
        <br>
        <sub>2016-2017</sub>
      </p>
    </div>

    <div class="layer__parallax">

      <div class="parallax parallax01">
        <img src="./../../assets/About/myDesignLab.png">
      </div>
    </div>
  </div>
</div>


<div id="parallaxContainer__idKAIST">
  <div class="layer idKAIST">

    <div class="layer__title">
      <p>ID KAIST Master Degree
        <br>
        <sub>2016-2017</sub>
      </p>
    </div>

    <div class="layer__parallax">

      <div class="parallax parallax01">
        <img src="./../../assets/About/myDesignLab.png">
      </div>
    </div>
  </div>
</div>

