<header>
  <div class="header--content">
    <h3>
      <a routerLink="/">
        Jundong Park
      </a>
    </h3>

    <ul>
      <li><a class="link-1" routerLink="/main">WORK</a></li>
      <li><a class="link-1" routerLink="/journal">JOURNAL</a></li>
      <li><a class="link-1" routerLink="/about">ABOUT</a></li>
    </ul>
  </div>
</header>

<!--<div id="myContainer">
  <div class="box box--red"></div>
  <div class="box box--blue"></div>
  <div class="box box--green"></div>
</div>-->

<canvas id="canv"></canvas>

