<header>
  <div class="header--content">
    <h3>
      <a routerLink="/intro">
        JUNDONG
      </a>
    </h3>
    <div id="myContainer"></div>

    <ul>
      <!--<li><a class="link-1" (click)="iClick()" routerLink="/portfolio">PORTFOLIO</a></li>-->
      <li><a class="link-1" (click)="eyeBlink()" routerLink="/main">HOME</a></li>
      <!--<li><a class="link-1" (click)="iClick()" routerLink="/projects">PROJECTS</a></li>-->
      <li><a class="link-1" (click)="eyeBlink()" routerLink="/about">ABOUT</a></li>
    </ul>
  </div>
</header>

<!--<div id="myContainer">
  <div class="box box--red"></div>
  <div class="box box--blue"></div>
  <div class="box box--green"></div>
</div>-->

<!--<canvas id="canv"></canvas>-->

