// section {
//     margin: 140px 5% 0 5%;
//     margin-right: calc(5% - 20px);
// }

// @media (min-width: 768px) {
//     section {
//         margin: 180px 3% 0 3%;
//         margin-right: calc(3% - 20px);
//     }
// }


.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    // background-color: black;
}
